@charset "UTF-8";

/* Todas as demais medias */

/* Pesquisar: Typical Devices Breakpoints 
Pequenas telas - até 600px
Mobile devices – 601px — 767px.
iPads, Tablets – 768px — 992px.
Small screens, laptops – 993px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.

@media screen and (max-width: 600px)  {
}
@media screen and (min-width: 601px) and (max-width: 768px) {
} */

@media print {     /* IMPRESSÃO */
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }
    main::after{
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }
    main h1{
        text-shadow: none;
        color: black;
    }

}
@media screen and (min-width: 769px) and (max-width: 992px) { /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
        img#phone{display: none;}
        img#tablet{display: block;}
        img#print{display:none;}
        img#pc{display: none;}
        img#tv{display:none;}
    }

    
}
@media screen and (min-width: 993px) and (max-width: 1200px) { /*DESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);
        img#phone{display: none;}
        img#tablet{display: none;}
        img#print{display:none;}
        img#pc{display: block;}
        img#tv{display:none;}
    }
        
}
@media screen and (min-width: 1201px) { /*GRANDES TELAS*/
    body{
        background-image: url(../imagens/back-tv.jpg);
        img#phone{display: none;}
        img#tablet{display: none;}
        img#print{display:none;}
        img#pc{display: none;}
        img#tv{display: block;}
    }
}

